@tailwind base;
@tailwind components;
@tailwind utilities;

.m-nav ul li{
    display: inline-block;
    position: relative;
}
.m-nav ul>li>ul{
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    transform-origin: 0 0 0;
    transition: all 0.3s ease-out 0s;
    z-index: 10;
    width: 265px;
    text-align: left;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
    border-bottom: 4px solid #2AD0A8;
    transform: scaleY(0);
    background: #fff;
}

.m-nav ul>li:hover>ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.m-nav ul>li>ul li{
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.m-nav ul>li>ul li a{
    width: 100%;
    display: block;
    padding: 15px;
}

.m-nav ul>li>ul li a:hover{
    color: #2AD0A8;
}

.accordion_title.active svg{
    transform: rotate(180deg);
}

.seoblock-content a{
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.seoblock-content a:hover{
   text-decoration: none;
}

.general-content h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.general-content p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.8;
}

.content-site-map h3{
    font-size: 28px;
}

.content-site-map ul{
    line-height: 2.1;
}
.content-site-map ul ul{
    margin-left: 20px;
}
.content-site-map a{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}   