@tailwind base;
@tailwind components;
@tailwind utilities;


.accordion_title.active svg{
    transform: rotate(180deg);
}

.seoblock-content a{
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.seoblock-content a:hover{
   text-decoration: none;
}

.general-content h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.general-content p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.8;
}